# Backend API URL (Laravel)
NEXT_PUBLIC_API_URL=http://127.0.0.1:8000/api
NEXT_PUBLIC_STORAGE_URL=http://127.0.0.1:8000/api/imagens

# Ambiente
NEXT_PUBLIC_ENV=development

# Google OAuth Client ID
NEXT_PUBLIC_GOOGLE_CLIENT_ID="dm for credencials"